<!-- inicio del nav -->
<header>
    <a href="/" class="logo"><i class="fas fa-robot"></i> Alura | Gemini</a>

    <div id="menu" class="fas fa-bars"></div>
    <nav class="navbar">
        <ul>
            <li><a href="#about">Nós</a></li>
            <li><a href="#skills">Avanços</a></li>
            <li><a href="#education">Educação</a></li>
            <li><a href="#work">Cursou</a></li>
            <li><a href="#experience">Experiencias</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
    </nav>
</header>
<!-- fin del nav-->