<!-- Boilerplate por ejs -->
<%-layout('layouts/boilerplate')%>

<!-- Inicio de seccion de experiencia -->
<section class="lenguage" id="lenguage">

    <h2 class="heading"><i class="fas fa-briefcase"></i> todos os <span>linguagem</span></h2>
    <div class="quote">
        <span>Cada experiencia en tu vida está para enseñarte algo que necesitas saber para seguir el camino de la vida.</span>
    </div>

    <div class="timeline">


        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Django</h2>
                </div>
                <div class="desc">
                    <h3>Modelos,
                        Views,
                        URLs e Roteamento,
                        Templates,
                        Administração,
                        Formulários,
                        Autenticação e Autorização,
                        Middleware,
                        Sessões e Cookies,
                        Testes</h3>
                    <p>Developer Back-End ALURA</p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Laravel</h2>
                </div>
                <div class="desc">
                    <h3>Rotas,
                        Controladores,
                        Modelos e Eloquent ORM,
                        Views e Blade,
                        Migrações e Sementes,
                        Formulários e Validação,
                        Autenticação e Autorização,
                        Middleware,
                        Queues e Jobs,
                        Testes</h3>
                    <p>Developer Back-End ALURA</p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Pyton</h2>
                </div>
                <div class="desc">
                    <h3>Sintaxe Básica,
                        Estruturas de Dados,
                        Controle de Fluxo,
                        Funções,
                        Módulos e Pacotes,
                        Manipulação de Arquivos,
                        Programação Orientada a Objetos,
                        Exceções,
                        Bibliotecas e Frameworks,
                        Testes e Debugging</h3>
                    <p>Developer AI ALURA</p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>SQL</h2>
                </div>
                <div class="desc">
                    <h3>Consultas Básicas,
                        Filtragem e Ordenação,
                        Joins,
                        Agrupamento e Agregação,
                        Subconsultas,
                        Criação e Modificação de Tabelas,
                        Inserção e Atualização de Dados,
                        Exclusão de Dados,
                        Índices e Performance,
                        Transações</h3>
                    <p>Developer Data-Base ALURA</p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>NoSQL</h2>
                </div>
                <div class="desc">
                    <h3>Tipos de Bancos de Dados NoSQL,
                        MongoDB,
                        Redis,
                        Cassandra,
                        Neo4j,
                        Modelagem de Dados,
                        Consultas e Indexação,
                        Escalabilidade e Replicação,
                        Consistência e Disponibilidade,
                        Integração e Ferramentas</h3>
                    <p>Developer Data-Base ALURA</p>
                </div>
            </div>
        </div>
       
    </div>

    <div class="morebtn" data-aos="fade-in" data-aos-duration="1000">
        <a href="/" class="btn">
            <i class="fas fa-arrow-left"></i>
            <span>Volver al inicio</span>
        </a>
    </div>

    </div>
</section>
<!-- Fin de seccion de experiencia -->
<!-- btn del scroll top -->
<a href="#lenguage" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scroll atras -->